.Logo {
	background-color: white;
	padding: 6px;
	height: 80%;
}

.Logo img {
	height: 100%;
	max-width: 100%;
}

@media(max-width: 600px) {
	.Logo img {
		max-width: 400px;
	}
}

@media(max-width: 480px) {
	.Logo img {
		max-width: 300px;
	}
}

@media(max-width: 370px) {
	.Logo img {
		max-width: 240px;
	}
}