.Welcome {
	margin: 20px auto;
	text-align: center;
}

@media(min-width: 700px) {
	.Welcome {
		width: 500px;
	}
}

.heading { 
	font-family: "Great Vibes", cursive; 
	font-size: 40px; 
	font-weight: normal; 
	margin-bottom: 0px; 
	text-shadow: 0 1px 1px #ccc; }

.content {
	font-family: "Great Vibes", cursive; 
	color: #2F56B0;
	position: relative;
	text-decoration: none;
	transition: color .4s ease-out;
	font-size: 2em;
  	max-width: 80%;
}

.content:hover {
	color: #457DFB;
	right: 0;
	text-decoration: none;
}